@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:400,700");

.background {
  background-color: #3c8d41;
  min-height: 100%;
  height: auto !important;
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .gridmenu {
    width: 100%;
  }

  .gridmain {
    width: 100%;
  }

  .gridright {
    width: 100%;
  }
}

.search-recipes {
  display: flex;
  margin-top: 60px;
  height: auto;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipe-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 50px;
}

.recipe-card a {
  color: black;
}

.recipe-card {
  width: 250px;
  height: 360px;
  overflow: hidden;
  border-radius: 20px !important;
  padding: 10px;
  transform: translatey(0px);
  box-shadow: 15px 25px 15px 0px rgba(0, 0, 0, 0.2) !important;
  /*  animation: float var(--animation-time) ease-in-out infinite;*/
}

.recipe-card img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe-results .recipe-card {
  background-color: white;
  padding: 8px;
  margin: 1%;
}

.recipe p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.recipe img {
  width: 80px;
}

.star-rating {
  padding-left: 16px;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0px !important;
  font-size: calc(0.75em + 0.4vw) !important;
  line-height: calc(1.1em + 0.5vw) !important;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0px !important;
  color: #9c9c9c;
  font-size: calc(0.2em + 1vw) !important;
  line-height: calc(1.1em + 0.5vw) !important;
}

.search-recipes-title {
  font-family: "Indie Flower", cursive;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0px !important;
  margin-top: 20px !important;
  padding: 0px !important;
  font-size: calc(1em + 5vw) !important;
  line-height: calc(1.1em + 0.5vw) !important;
}

.filters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}

.filters-container .filter {
  display: flex;
  width: 30%;
  z-index: 10 !important;
  align-items: center;
  justify-content: center !important;
}

.rating-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
}

.rating-users {
  margin: 0px;
  padding: 0px;
  padding-left: calc(0.1em + 1vw);
  font-size: calc(0.08em + 0.8vw) !important;
  color: black;
}

.link-container {
  text-decoration: none !important;
}

/* animating the floating cards */

/*@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-2px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}*/

/* animation delays */

.delay-1 {
  animation-delay: -1s;
}

.delay-2 {
  animation-delay: -2s;
}

.delay-3 {
  animation-delay: -3s;
}

.delay-4 {
  animation-delay: -4s;
}

/* set the default transition time */
:root {
  --animation-time: 4s;
}

/* Portrait iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .recipe-card {
    width: 150px;
    height: 200px;
  }

  .ReactTokenInput__input {
    width: 90%;
  }

  .search-recipes {
    padding-bottom: 50px;
  }
}

/* Portrait iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .non-logo-item {
    margin-left: 10px;
  }

  .recipe-card {
    width: 140px;
    height: 190px;
  }

  .ReactTokenInput__input {
    width: 88px;
  }

  .search-recipes {
    padding-bottom: 50px;
  }
}
