@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:400,700');

.background {
  background-color: #3c8d41;
  /*height: auto;*/
  /*min-height: 100%;*/
  min-height: 100vh !important;
  height: auto !important;
  display: inline-block;
  width: 100vw;
}

@media only screen and (min-width: 500px) {
  .gridmenu {
    width: 100%;
  }

  .gridmain {
    width: 100%;
  }

  .gridright {
    width: 100%;
  }
}

.search-recipes {
  display: flex;
  margin-top: 60px;
  height: auto;
  width: 80%;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.newsfeed {
  width: 20%;
  background-color: #3c8d41 !important;
  /*background-color: white;*/
  /*border: 1px solid black !important;*/
  /*border-radius: 10px !important;*/
  margin-right: 10px !important;
  visibility: hidden;
}

.recipe-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.recipe-results .recipe-card {
  background-color: white;
  height: auto;
  width: 30%;
  border-radius: 5px;
  padding: 8px;
  margin: 1%;
}

.recipe p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.recipe img {
  width: 80px;
}

.star-rating {
  padding-left: 16px;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0px !important;
  font-size: calc(0.3em + 1vw) !important;
  line-height: calc(1.1em + 0.5vw) !important;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0px !important;
  color: #9c9c9c;
  font-size: calc(0.2em + 1vw) !important;
  line-height: calc(1.1em + 0.5vw) !important;
}

.search-recipes-title {
  font-family: 'Indie Flower', cursive;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0px !important;
  margin-top: 20px !important;
  padding: 0px !important;
  font-size: calc(1em + 5vw) !important;
  line-height: calc(1.1em + 0.5vw) !important;
}

.filters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
}

.filters-container .filter {
  display: flex;
  width: 30%;
  z-index: 10 !important;
  align-items: center;
  justify-content: center !important;
}

.rating-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
}

.rating-users {
  margin: 0px;
  padding: 0px;
  padding-left: calc(0.1em + 1vw);
  font-size: calc(0.08em + 0.8vw) !important;
  color: black;
}

.link-container {
  text-decoration: none !important;
}
