.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c8d41;
  position: relative;
}

.profile-name {
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  text-align: center;
}

.top-row {
  display: flex;
  padding: 0px 0px 20px;
}

.top-row-col {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  justify-content: center;
  padding: 20px;
}

.profile-pic-default {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 200px;
  background-image: url("https://i.imgur.com/Ltz5GrZ.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-custom {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 200px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clickable-profile-pic {
  cursor: pointer;
}

.profile-pic-default img {
  display: none;
}

.profile-pic-custom img,
.profile-pic-default img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-profile {
  font-family: "Open Sans", sans-serif;
  display: flex;
  background: #eeeeee;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  min-height: 200px;
  margin-top: 20px;
  border-radius: 10px;
}

.user-logs-item {
  font-family: "Open Sans", sans-serif;
}

.user-logs-container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-top: 20px;
  padding: 20px 0px;
}

.user-logs-title {
  color: #494949;
  background: #fdfbf0;
  padding: 5px;
  font-weight: bold;
}

.user-logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  margin-top: 20px;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: url("https://raw.github.com/Arbaoui-Mehdi/Sticky-Notepaper/master/images/noise.png")
    repeat #f3efd1;
}

.user-logs-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 350px;
}

.user-logs-col .scratch {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  width: 45%;
  height: 33px;
  margin: -30px 0 10px 0;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
  -o-transform: rotate(-2deg); /* Opera */
  -moz-transform: rotate(-2deg); /* Firefox */
  box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.logs-search-box {
  outline: none;
  background: #eee;
  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border: 0.5px solid #494949;
  width: 160px;
}

.search-form {
  display: flex;
  height: auto;
  margin-top: 20px;
}

.search-form-icon {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

/* Portrait iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 68px;
  }
}

/* Portrait Galaxy S5 */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 68px;
  }
}

/* Portrait iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 60px;
  }
}

/* Portrait Custom 655 */
@media only screen and (max-width: 655px) {
  .profile-name {
    font-size: 1.5em;
  }

  .search-form input {
    width: 140px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 120px;
    padding: 7px;
  }

  .namanyay-search-btn {
    padding: 6px 8px;
  }
}

/* Portrait Custom 586 */
@media only screen and (max-width: 586px) {
  .profile-name {
    font-size: 1.5em;
  }

  .search-form input {
    width: 100px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 120px;
    padding: 7px;
  }

  .namanyay-search-btn {
    padding: 6px 8px;
  }
}

/* Portrait Custom 520 */
@media only screen and (max-width: 520px) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 70px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 120px;
    padding: 7px;
  }

  .namanyay-search-btn {
    padding: 6px 8px;
  }
}

/* Portrait Custom 420 */
@media only screen and (max-width: 420px) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 70px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 50px;
    padding: 5px;
  }

  .namanyay-search-btn {
    padding: 4px 6px;
  }
}
