.profile {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #3c8d41;
  position: relative;
}

.profile-name {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  text-align: center;
}

.top-row {
  display: flex;
  flex-direction: row;
}

.top-row-col {
  word-wrap: break-word;
}

.profile-pic-default {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 200px;
  background-image: url("https://pbs.twimg.com/profile_images/740272510420258817/sd2e6kJy.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-custom {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 200px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-custom img,
.profile-pic-default img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-logs-container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  height: 350px; 
  width: 90%;
  margin-top: 20px;
}

.user-logs-recipes {
  background: #e34b27;
  display: flex;
  position: relative;
  height: 30px;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.user-logs-recipes p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 0.9em;
  position: absolute;
  bottom: -12px;
  left: 25px;
}

.user-logs-meals {
  background: #e34b27;
  display: flex;
  position: relative;
  height: 30px;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.user-logs-meals p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 0.9em;
  position: absolute;
  bottom: -12px;
  left: 30px;
}

.user-logs-activities {
  background: #e34b27;
  display: flex;
  position: relative;
  height: 30px;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.user-logs-activities p {
  color: white;
  font-size: 0.9em;
  position: absolute;
  bottom: -12px;
  left: 20px;
}

.user-logs {
  display: flex;
  background: #eeeeee;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: auto;
}

.user-logs-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 25%;
}

.logs-search-btn {
  background: black;
  color: white;
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding: 15px 15px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border: 0 none;
  font-weight: bold;
}

.logs-search-box {
  outline: none;
  background: #eee;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border: 0 none;
  width: 160px;
}

.search-form {
  display: flex;
  height: auto;
  margin-top: 20px;
}

.search-form-icon {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

/* Portrait iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 68px;
  }

  .user-logs {
    width: 105px;
  }
}

/* Portrait Galaxy S5 */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 68px;
  }

  .user-logs {
    width: 105px;
  }
}

/* Portrait iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 60px;
  }

  .user-logs {
    width: 90px;
  }
}

/* Portrait Custom 655 */
@media only screen and (max-width: 655px) {
  .profile-name {
    font-size: 1.5em;
  }

  .search-form input {
    width: 140px;
  }

  .user-logs {
    width: 140px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 120px;
    padding: 7px;
  }

  .namanyay-search-btn {
    padding: 6px 8px;
  }
}

/* Portrait Custom 586 */
@media only screen and (max-width: 586px) {
  .profile-name {
    font-size: 1.5em;
  }

  .search-form input {
    width: 100px;
  }

  .user-logs {
    width: 130px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 120px;
    padding: 7px;
  }

  .namanyay-search-btn {
    padding: 6px 8px;
  }
}

/* Portrait Custom 520 */
@media only screen and (max-width: 520px) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 70px;
  }

  .user-logs {
    width: 120px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 120px;
    padding: 7px;
  }

  .namanyay-search-btn {
    padding: 6px 8px;
  }
}

/* Portrait Custom 420 */
@media only screen and (max-width: 420px) {
  .profile-name {
    font-size: 1em;
  }

  .search-form input {
    width: 70px;
  }

  .user-logs {
    width: 100px;
  }

  .namanyay-search-box {
    margin-top: 10px;
    width: 50px;
    padding: 5px;
  }

  .namanyay-search-btn {
    padding: 4px 6px;
  }
}
