.profile-updater {
  display: flex;
  flex-direction: column;
  top: 0;
}

.profile-updater form {
  height: 50px;
  overflow: scroll;
}
.label {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  color: white;
  text-align: center;
}

.material-field label {
  color: white !important;
}

.material-field input {
  color: white !important;
}

.signup-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.signup-buttons button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0.5px solid white;
  color: white;
  background-color: #3c8d41;
  border-radius: 5px;
}

.signup-buttons button:focus {
  outline: 0;
}

.oauth {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.oauth img {
  margin-top: 10px;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
}