@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:400,700');

.landing {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #3c8d41;
  position: relative;
}

.landing-images {
  width: 315px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-title {
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
  color: white;
}

.landing-description {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  top: 21%;
  z-index: 3;
}

.landing-description span {
  font-weight: bold;
}

.landing-img {
  width: 100%;
  object-fit: fill;
}

.landing-auth-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  top: 32%;
  position: absolute;
}

.landing-auth-container button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0.5px solid white;
  color: white;
  background-color: #3c8d41;
  border-radius: 5px;
}

/* Row 1 */

.landing-img-container-1 {
  width: 100px;
  height: 100px;
  background-image: url('https://www.bellamysorganic.com.au/blog/wp-content/uploads/2013/12/understanding-the-health-benefits-of-organic-food-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-container-2 {
  width: 100px;
  height: 100px;
  background-image: url('http://cdn.blessthisstuff.com/imagens/stuff/sprig-organic-meals-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-container-3 {
  width: 100px;
  height: 100px;
  background-image: url('http://www.singletonsseafoodshack.com/wp-content/uploads/2017/05/Restaurant-Eating.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Row 2 */

.landing-img-container-4 {
  width: 100px;
  height: 100px;
  background-image: url('http://roguehealthandfitness.com/wp-content/uploads/2015/02/organic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-container-5 {
  width: 100px;
  height: 100px;
  background-image: url('http://cdn.theatlantic.com/static/mt/assets/food/salad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-container-6 {
  width: 100px;
  height: 100px;
  background-image: url('http://readynutrition.com/wp-content/uploads/2014/04/shutterstock_151441463.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Row 3 */

.landing-img-container-7 {
  width: 100px;
  height: 100px;
  background-image: url('http://2zcb9n15d8i73ncvp0lwwrct.wpengine.netdna-cdn.com/wp-content/uploads/organic-whole-grain-oatmeal-pancakes-768x423.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-container-8 {
  width: 100px;
  height: 100px;
  background-image: url('https://sunbasket.com/resources/img/home/how-it-works/three-recipe-bags-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-container-9 {
  width: 100px;
  height: 100px;
  background-image: url('https://www.rd.com/wp-content/uploads/sites/2/2016/06/10-things-know-organic-food-farming.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.landing-img-cube {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oauth-landing {
  justify-content: space-between;
  display: flex;
  height: 100px;
  width: 330px;
}

.oauth-landing img {
  width: 150px;
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

/* Portrait iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 4em;
    }

    .landing-description {
      top: 12%;
    }

    .landing-auth-container {
      display: none;
    }
}

/* Portrait iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 4em;
    }

    .landing-description {
      top: 14%;
    }

    .landing-auth-container {
      display: none;
    }

    .landing-img-cube {
      margin-top: 81px;
    }
}

/* Portrait Nexus 6P */
@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 732px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 3em;
    }

    .landing-description {
      top: 12%;
    }

    .landing-auth-container {
      display: flex;
      top: 24%;
    }

    .landing-img-cube {
      margin-top: 176px;
    }
}

/* Portrait Nexus 6P */
@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 732px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 3em;
    }

    .landing-auth-container {
      display: none;
    }

    .landing-description {
      top: 14%;
    }

}

/* Portrait iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 6em;
    }

    .landing-auth-container {
      top: 21%;
      display: flex;
    }

    .landing-description {
      top: 15%;
    }

    .landing-img-cube {
      margin-top: 170px;
    }

}

/* Landscape iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 3em;
    }

    .landing-auth-container {
      top: 21%;
      display: flex;
    }

    .landing-description {
      top: 15%;
    }

    .landing-img-cube {
      margin-top: 170px;
    }
}

/* Portrait iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 6em;
    }

    .landing-auth-container {
      top: 21%;
      display: flex;
    }

    .landing-description {
      top: 15%;
    }

    .landing-img-cube {
      margin-top: 200px;
    }

}

/* Landscape iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .landing {
      padding-bottom: 15px;
    }

    .landing-title {
      margin: 1px;
      font-size: 6em;
    }

    .landing-auth-container {
      top: 22%;
      display: flex;
    }

    .landing-description {
      top: 15%;
    }

    .landing-img-cube {
      margin-top: 180px;
    }

}
