.recipe-container {
  display: flex;
  flex-direction: column;
  padding-right: 2%;
  padding-bottom: 5%;
  top: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.recipe-container h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

.recipe-container img {
  border-radius: 25px;
}

.recipe-title {
  font-family: "Open Sans", sans-serif;
}

.calories-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.recipe-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.total-calories-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 10px;
}

.calories-per-serving-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
}

.calorie-divider {
  margin-bottom: 10px;
}

.calories-stat-label {
  margin: 0px !important;
  padding: 5px 0px !important;
  font-size: 10px;
}

.calories-stat-data {
  margin: 0px !important;
  padding: 5px 0px !important;
  font-size: 18px;
}

.flex-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  margin: 0 auto;
}

.calories-info {
  font-size: 14px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
}

.row {
  font-size: 16px;
  border-radius: 5px;
  display: table-row;
  background: #f6f6f6;
  font-weight: 900;
  color: #494949;
  background: #f3efd1;
  padding: 8px 0;
  display: block;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  padding: 2px 12px;
  display: block;
}

.cell-title {
  text-decoration: underline;
}

.star-container {
  display: flex;
  justify-content: center;
}

.nut-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recipe-wrapper .dv-star-rating {
  font-size: 2.1em;
}

.notes-group {
  display: flex;
}

.floating-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#recipe-wrapper {
  padding: 10px;
  width: 400px;
  height: auto;
  border: 10px solid white;
  border-radius: 16px;
  position: relative;
  background: white;
  box-shadow: 3px 3px 3px 3px rgba(40, 40, 40, 0.2);
  z-index: 99px;
}
#recipe-wrapper:before,
#wrapper:after {
  content: "";
  display: block;
  width: 98%;
  height: 98%;
  background: white;
  box-shadow: 3px 3px 3px 3px rgba(40, 40, 40, 0.2);
  position: absolute;
  border: 10px solid white;
  border-radius: 16px;
  transition: all 0.5s ease-out;
  z-index: 99px;
}
#recipe-wrapper:before {
  z-index: -9;
  transform: rotate(-5deg);
  top: -15px;
  left: -20px;
}
#recipe-wrapper:after {
  z-index: -10;
  transform: rotate(6deg);
  top: 0px;
  left: 20px;
  z-index: 99px;
}
#recipe-wrapper:hover:before,
#recipe-wrapper:hover:after {
  transform: rotate(0);
}
#recipe-wrapper:hover:before {
  top: 10px;
  left: 0px;
}
#recipe-wrapper:hover:before{top:10px; left:0px;}
#recipe-wrapper:hover:after{top:-15px; left:0px;}
#recipe-wrapper img{
  border-radius:10px;
  transition:opacity 0.5s ease;
  z-index: 99px;
   width: 100%;
}
/*#recipe-wrapper:hover img {
    opacity:1;
}*/

#recipe-wrapper p,
h2 {
  text-align: center;
  color: black;
}

/**
 * Stick note styles
 */

/*#note {
  overflow-x: hidden;
  overflow-y: hidden;
}*/

#note a {
  text-decoration: none;
  font-weight: bold;
}

#note .btn {
  background-image: linear-gradient(
    bottom,
    rgb(112, 87, 65) 3%,
    rgb(163, 136, 102) 82%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(112, 87, 65) 3%,
    rgb(163, 136, 102) 82%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(112, 87, 65) 3%,
    rgb(163, 136, 102) 82%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(112, 87, 65) 3%,
    rgb(163, 136, 102) 82%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(112, 87, 65) 3%,
    rgb(163, 136, 102) 82%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.03, rgb(112, 87, 65)),
    color-stop(0.82, rgb(163, 136, 102))
  );
  color: #4e3c2a;
  border-radius: 20px;
  padding: 3px 17px;
  text-shadow: 0 1px 0 #aa8863;
  border: 1px solid #5d4d3a;
  font-size: 18px;
  font-style: italic;
}

#note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  width: 340px;
  height: 240px;
  position: relative;
  margin: 40px 0 0 20px;
}

#note .lines {
  overflow: hidden;
  position: absolute;
  width: 100%;
  opacity: 0.6;
  top: 36px;
}

#note .lines span {
  display: block;
}

#note .horizontal span {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -o-linear-gradient(
    right,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -moz-linear-gradient(
    right,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -webkit-linear-gradient(
    right,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -ms-linear-gradient(
    right,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  margin-bottom: 28px;
}

#note .vertical {
  margin: -239px 0 0 30px;
}

#note .vertical span {
  float: left;
  margin-right: 5px;
  width: 1px;
  height: 237px;
  background: linear-gradient(
    to bottom,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgba(236, 231, 191, 1),
    rgba(211, 206, 167, 1),
    rgba(236, 231, 191, 1)
  );
}

#note .sticky {
  background-color: #f3efd1;
  width:100%;
  height: 100%;
  border: 1px solid #f3f0d3;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#note .inner {
  height: 100%;
  box-shadow: inset 0 0 22px 8px rgba(220, 215, 174, 0.35);
  z-index: 1;
}

#note .sticky .paper {
  width: 100%;
  position: absolute;
  line-height: 1.4em;
  font-size: 22px;
  color: #494949;
  padding: 10px;
  padding-top: 15px;
}

#note .paper b {
  background: #fdfbf0;
  padding: 0 5px;
  font-size: 17px;
}

#note .scratch {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  width: 45%;
  height: 33px;
  margin: -20px 0 0 28%;
  float: left;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
  -o-transform: rotate(-2deg); /* Opera */
  -moz-transform: rotate(-2deg); /* Firefox */
  box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

#note .recipe-list {
  font-size: 14px;
  overflow: scroll;
  height: 180px;
}

/**
 * Media Queries
 */



/* Portrait iPhone 5 */
/*@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #recipe-wrapper {
      width: 257px;
    } 

    #recipe-wrapper .dv-star.rating {
      font-size: 1.5em;
    }  

    #recipe-wrapper h2 {
      font-size: 1em;
    }

    .notes-group {
      flex-direction: column;
    }
}*/

@charset "UTF-8";
.performance-facts {
  font-size: small;
  line-height: 1.4;
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 300px;
  background: white;
  color: black;
  padding: 0.5rem;
}

.performance-facts p {
  margin: 0;
}

.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}

.performance-facts__table th b {
  margin-right: 5px;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
  border-top-width: 5px;
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th, .performance-facts__table--small td {
  border: 0;
  padding: 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}

.nutrition-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



