.recipe-container {
  display: flex;
  flex-direction: column;
  top: 50px;
  align-items: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #3c8d41;
  color: white;
}

.recipe-container h1 {
  font-size: 3em;
}

.recipe-container img {
  border-radius: 25px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  max-width: 70%;
  margin: 0 auto;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
}

.row {
  background-color: #e14c31 !important;
  border-radius: 5px;
  display: table-row;
  background: #f6f6f6;
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
  padding: 8px 0;
  display: block;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  padding: 2px 12px;
  display: block;
}
