.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  padding: 10px;
  background-color: #3c8d41;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
}

.non-logo-item {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin-left: 10px;
}

.namanyay-search-btn {
  background: #fc5830;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border: 0 none;
  font-weight: bold;
}

.namanyay-search-box {
  outline: none;
  background: #eee;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border: 0 none;
  width: 160px;
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url('https://i.imgur.com/5TYZkyJ.png');
}
